@import '~antd/es/style/themes/default.less'; 
.HeaderContainer{
  padding: @padding-lg;
  .header{
    display: flex;
    align-items: center;
    font-size: @content-font-size;
    .type_name{
      color: @vice-color;
      border: 1px solid @vice-color;
      margin: 0 @margin-sm;
      padding: 1px @padding-xs;
      border-radius: @radius-base;
      font-size: @content-small-font-size;
    }
    .score{
      color: @text-font-color-third;
      span{
        color: @score-color;
      }
    }
    .group_name{
      background-color: @body-bg;
      padding: 1px @padding-xs;
      font-size: @content-small-font-size;
      border-radius: @learning-radius;
      margin-left: @margin-xs;
    }
    .degree{
      :global{
        .am-segment{
          margin: 0px @margin-sm;
          .am-segment-item{
            padding: 0 @padding-xss;
            font-size: @content-small-font-size;
          }
        }
        .am-segment.am-segment-disabled {
          opacity: 1;
        }
      }
    }
    .userScore{
      padding: @padding-xss 0 ;
      width: 64px;
      color: @white-color;
      background-color: @green-btn;
      position: absolute;
      right: 0;
      text-align: center;
    }
    .wrong{
      background-color: @error-answer-color;
    }
    .unmark{
      background-color: @primary-color;
    }
    :global{
      .ant-col{
        flex-grow: 0;
        
      }
      
    }
  }
}