@import '~antd/es/style/themes/default.less';
.answerPic{
  height: @answer-pic-width;
  width: @answer-pic-height;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img{
    max-width: @answer-pic-width;
    max-height: @answer-pic-height;
  }
}
.question{
  padding-top: @padding-sm;
}

.revisedAnswer{
  .title{
    color: @text-font-color;
  }
  font-size: @content-font-size;
}