p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
  margin-bottom: 0em;
}
.options{
  color: @text-font-color;
  padding: 0px;
  font-size: @content-font-size;
  .option{
    display: flex;
    margin-bottom: @margin-xs;
    .optionChar{
      font-size: @content-small-font-size;
      flex-shrink: 0;
      width: 3.8rem;
      height: 3.8rem;
      border: @border-width-thin solid #dcdcdc;
      margin-right: @margin-sm;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    }
    .choiceOptionChar{
      border-radius: 50%;
    }
    .multiChoiceOptionChar{
      border-radius: @radius-base;
    }
    .optionContent{
      line-height: @line-height-md;
    }
  }
  .option.checked{
    color: @vice-color;
    .optionChar{
      border: @border-width-thin solid @vice-color;
      background-color: @vice-color;
      color: @white-color;
    }
  }
  img{
    vertical-align: middle;
    max-width: 100%;
  }
}
.options.do{
  .optionChar,.optionContent{
    cursor: pointer;
  }
}