.options{
  color: @text-font-color;
  padding: 0px;
  font-size: @content-font-size;
  .option{
    display: flex;
    .optionChar{
      font-size: @content-small-font-size;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      border: 1px solid #dcdcdc;
      margin: @margin-xs @margin-sm 0 0;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    }
    .choiceOptionChar{
      border-radius: 50%;
    }
    .multiChoiceOptionChar{
      border-radius: @radius-base;
    }
    .optionContent{
      line-height: @line-height-md;
    }
  }
  .option.checked{
    color: @vice-color;
    .optionChar{
      border: 1px solid @vice-color;
      background-color: @vice-color;
      color: @white-color;
    }
  }
  img{
    vertical-align: middle;
    max-width: 100%;
  }
}
.options.do{
  .optionChar,.optionContent{
    cursor: pointer;
  }
}