.taskContainer {
	:global {
		.am-list-body {
			background-color: @body-bg;
			border          : none;
		}
	}
}

.segment {
	margin: 24px 60px;

	:global {
		.am-segment {
			height   : 50px;
			font-size: 24px;
		}

		.am-segment-item {
			font-size: 24px;
		}
	}
}

.selTab {
	border: solid 1px @primary-color;

	.selected {
		color           : @white-color;
		background-color: @primary-color;
	}

	color: @primary-color;
}

.lv_item {
	:global {
		.list-view-section-body {
			background-color: #f0f0f0;

		}
	}
}

.task_item {
	margin          : 15px 0px;
	padding         : 18px;
	background-color: @white-color;

	.title {
		line-height: 50px;
		color      : @text-font-color;
		font-size  : @list-big-font-size;
		padding    : 19px;
	}

	.markingPeople {
		line-height: 50px;
		color      : @primary-color;
		font-size  : @list-font-size;
		padding    : 19px;
	}

	.endTime {
		float    : right;
		padding  : 20px 38px;
		font-size: @list-small-font-size;
		color    : @text-font-color-secondary;
	}

	.marking {
		float    : right;
		padding  : 27px 38px;
		font-size: @list-small-font-size;
		color    : @text-font-color-secondary;

		span {
			float: left;
			color: @complete-btn;
		}
	}

	.markingDefault {
		float    : right;
		padding  : 27px 38px;
		font-size: @list-small-font-size;

		span {
			float: left;
		}
	}

	.startTime {
		padding-left: 20px;
		font-size   : @list-small-font-size;
		color       : @text-font-color-secondary;
	}

	.label {
		padding         : 4px 8px;
		margin-left     : 12px;
		background-color: @white-color;
		border-radius   : 5px;
		font-size       : @content-font-size;
	}

	.review_label {
		border: solid 1px @green-btn;
		color : @green-btn;
	}

	.task_label {
		border: solid 1px @primary-color;
		color : @primary-color;
	}
}

.taskmarkingContainer {
	.tasklist {
		.tasklistli {
			background-color: #fff;
			width           : 100%;
		}
	}

}

.taskmarkingDetailContainer {
	.topicNum {
		width           : 100%;
		height          : auto;
		padding         : 15px 30px;
		background-color: #fffdf3;

		.topicNumInfo {
			font-size      : 24px;
			display        : flex;
			justify-content: space-between;

			.topicNumInfoL {
				color: @text-font-color;
			}

			.topicNumInfoR {
				border       : 1px @border-color solid;
				color        : @task-marking;
				padding      : 2px 7px;
				border-radius: @radius-base;
			}
		}

		.topicNumber {
			.li {
				border          : 1px solid;
				border-radius   : 30px;
				width           : 50px;
				height          : 50px;
				text-align      : center;
				vertical-align  : middle;
				line-height     : 50px;
				font-size       : 20px;
				font-weight     : bold;
				display         : inline-block;
				margin          : 20px 19px 8px 0;
			} 
			.default{ 
				background-color: @white-color;
				color: @text-font-color;
			}
			.green {
				background-color: @green-btn;
				color           : @white-color;
			}

			.red {
				background-color: @error-color;
				color           : @white-color;
			}
		}
	}

	.finishMarking {
		width           : 70%;
		padding         : 10px 0;
		background-color: @primary-color;
		font-size       : @tab-act-font-size;
		text-align      : center;
		color           : @white-color;
		border-radius   : @radius-base;
		margin          : 0 auto 20px auto;
	}
	.NOfinishMarking{
		width           : 70%;
		padding         : 10px 0;
		background-color: @border-color;
		font-size       : @tab-act-font-size;
		text-align      : center;
		color           : @text-font-color-secondary;
		border-radius   : @radius-base;
		margin          : 0 auto 20px auto;
	}
}

.taskmarkingContainer {
	:global {
		.am-list-body {
			background-color: @body-bg;
			border          : none;
		}
	}
}