.taskContainer {
	:global {
		.am-list-body {
			background-color: @body-bg;
			border          : none;
		}
	}
}

.segment {
	margin: 2.4rem 6rem;

	:global {
		.am-segment {
			height   : 5rem;
			font-size: @nav-font-size;
		}

		.am-segment-item {
			font-size: @nav-font-size;
		}
	}
}

.selTab {
	border: solid @border-width-thin @primary-color;

	.selected {
		color           : @white-color;
		background-color: @primary-color;
	}

	color: @primary-color;
}

.lv_item {
	:global {
		.list-view-section-body {
			background-color: #f0f0f0;

		}
	}
}

.task_item {
	margin          : 1.5rem 0px;
	padding         : 1.8rem;
	background-color: @white-color;

	.icon {
		width: @icon-width;
		height:@icon-height;
	}

	.title {
		line-height: 5rem;
		color      : @text-font-color;
		font-size  : @list-big-font-size;
		padding    : 1.9rem;
	}

	.markingPeople {
		line-height: 5rem;
		color      : @primary-color;
		font-size  : @list-font-size;
		padding    : 1.9rem;
	}

	.endTime {
		float    : right;
		padding  : 2rem 3.8rem;
		font-size: @list-small-font-size;
		color    : @text-font-color-secondary;
	}

	.marking {
		float      : right;
		padding    : 2.2rem 0;
		font-size  : @list-small-font-size;
		display    : flex;
		align-items: center;
		color      : @complete-btn;
	}

	.markingDefault {
		float    : right;
		padding  : 2.7rem 3.8rem;
		font-size: @list-small-font-size;

		span {
			float: left;
		}
	}

	.startTime {
		padding-left: 2rem;
		font-size   : @list-small-font-size;
		color       : @text-font-color-secondary;
	}

	.label {
		padding         : 0.4rem 0.8rem;
		margin-left     : 1.2rem;
		background-color: @white-color;
		border-radius   : @radius-base;
		font-size       : @list-small-font-size;
	}

	.review_label {
		border: solid @border-width-thin @green-btn;
		color : @green-btn;
	}

	.task_label {
		border: solid @border-width-thin @primary-color;
		color : @primary-color;
	}
}

.taskmarkingContainer {
	.tasklist {
		.tasklistli {
			background-color: @white-color;
			width           : 100%;
		}
	}

}

.taskmarkingDetailContainer {
	.topicNum {
		width           : 100%;
		height          : auto;
		padding         : @list-padding 3rem;
		background-color: #fffdf3;

		.topicNumInfo {
			font-size      : @list-font-size;
			display        : flex;
			justify-content: space-between;

			.topicNumInfoL {
				color: @text-font-color;
			}

			.topicNumInfoR {
				border       : @border-width-thin @border-color solid;
				color        : @task-marking;
				padding      : 0.2rem  0.7rem;
				border-radius: @radius-base;
			}
		}

		.topicNumber {
			.li {
				border        : @border-width-thin solid;
				border-radius : 3rem;
				width         : @icon-width;
				height        : @icon-height;
				text-align    : center;
				vertical-align: middle;
				line-height   : @icon-height;
				font-size     : @log-fFont-size;
				font-weight   : bold;
				display       : inline-block;
				margin        : 2rem 1.9rem 0.8rem 0;
			}

			.default {
				background-color: @white-color;
				color           : @text-font-color;
			}

			.green {
				background-color: @green-btn;
				color           : @white-color;
			}

			.red {
				background-color: @error-answer-color;
				color           : @white-color;
			}
		}
	}

	.finishMarking {
		width           : 70%;
		padding         : 1rem 0;
		background-color: @primary-color;
		font-size       : @tab-act-font-size;
		text-align      : center;
		color           : @white-color;
		border-radius   : @radius-base;
		margin          : 0 auto 2rem auto;
	}

	.NOfinishMarking {
		width           : 70%;
		padding         : 1rem 0;
		background-color: @border-color;
		font-size       : @tab-act-font-size;
		text-align      : center;
		color           : @text-font-color-secondary;
		border-radius   : @radius-base;
		margin          : 0 auto 2rem auto;
	}
}

.taskmarkingContainer {
	:global {
		.am-list-body {
			background-color: @body-bg;
			border          : none;
		}
	}
}

.marqueeContainer {
	height          : @item-height;
	font-size       : @list-big-font-size;
	background      : url("../../assets/notify.png") no-repeat left center;
	background-color: @bg-notice;
	padding-left    : 8rem;
	color           : @text-font-color;
	line-height     : @item-height;
	vertical-align  : middle;

	.red {
		color: #ec445f;
	}

	.hidden {
		display: none;
	}
}