.container {
  background-color: @white-color;
  margin-top      : 2rem;
  padding-top     : 2rem;
}

.subjectTabAtlas {
  display      : flex;
  margin-bottom: 1rem;
  padding-left : 2rem;
  font-size    : @task-modular-font-size;
  border-left  : 3px solid @primary-color;

  li {
    padding         : 0rem;
    list-style-type : none;
    background-color: @white-color;
    color           : @text-font-color-secondary;
    letter-spacing  : 1px;
    font-size       : @classify-font-size;
    margin-right    : 3rem;
  }

  .act {
    color         : @primary-color;
    padding-bottom: 0.8rem;
    border-bottom : @border-width @primary-color solid;
  }
}

.KnowLeadgeWrap {
 }