.complex{
  .complexStem{
    padding: 8px 24px;
    background-color: #f3f8ff;
    .complexTitle{
      float: left;
      margin-right: 10px;
      margin-top: 10px;
      color: @vice-color;
    }
  }
}