.complex{
  .complexStem{
    padding: @padding-xs @padding-lg;
    background-color: #f3f8ff;
    .complexTitle{
      float: left;
      margin-right: @margin-sm;
      margin-top: @margin-sm;
      color: @vice-color;
    }
  }
}