*{margin:0;padding:0;}
.container{
    background-color: @white-color;
    margin-top: 1.8rem;
    padding:2rem;

    .title{
        margin-left:-2rem;
        padding-left:2rem;
        font-size: @task-modular-font-size;
        border-left: 3px solid @primary-color;
    }
    .textCenter{
        text-align: center;
    }
    .count{
        margin-top: -21rem;
        text-align: center;
        font-size: @nav-big-font-size;
    }

    .legendContainer{
        padding-top: 8rem;
        padding-left:5rem;
        // text-align: center;
        .subjectIcon{
            display: inline-block;
            width:1rem;
            height: 1rem;
            border-radius: @radius-base;
            margin-right: 1rem;
        }      
    }
}

.segment {
	margin: 2.4rem 6rem;

	:global {
		.am-segment {
			height   : 5rem;
			font-size: @nav-font-size;
		}

		.am-segment-item {
			font-size: @nav-font-size;
		}
	}
}

.KnowsOverView{
    padding:5rem 2rem;
    text-align: center;
    .sub_title{
        padding-top: 1rem;
        line-height: 2.6rem;
        font-size: @tab-font-size;
    }
}
.accordion{
    width: 100%;
    :global{
        .am-accordion{
            border:none;
        }  
     .am-accordion-item{
            // padding-left: 15px;
            border: none;
        }      
        .am-accordion .am-accordion-item .am-accordion-header i{

            left:1rem;  
          }
          .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box{
              border: none;
          }
          .am-list-body{
              border:none;
          }
    }
    .table_header{
        width: 100%;
        background-color: #ececec;
        height: @item-height;
        font-size: @title-descibe-font-size;
        // border-top: @border-width-thin solid @border-color;
        // border-bottom: @border-width-thin solid @border-color;
      
    }
    .table_row{
        // margin-left: 15px;
        background-color: @white-color;
        height: @item-height;
        font-size: @title-descibe-font-size;
        width:100%;
        // border-bottom: @border-width-thin solid @border-color;
        // span{
        //     width:30%;
        //     display: inline-table;
        // }
    
    }
    .list_item{
        
    }
    span{
        // width:33%;
        width:26rem;
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        display: inline-block;
    }
}
.header_accordion_panel{
    :global{
        .am-accordion-header{
            border: none;
            background-color:#ececec!important;
            // margin-left: 15px;
        }
        
    }
}
.row_accordion_panel{
    :global{
        .am-accordion-header{
            border: none;
            background-color:@white-color!important;
        }
        
    } 
}

