.container{
    background-color: @white-color;
    margin-top: 18px;
    padding:20px;

    .title{
        margin-left:-20px;
        padding-left:20px;
        font-size: @task-modular-font-size;
        border-left: 3px solid @primary-color;
    }
}