*{margin:0;padding:0;}
.container{
    background-color: @white-color;
    margin-top: 1.8rem;
    padding:2rem;

    .title{
        margin-left:-2rem;
        padding-left:2rem;
        font-size: @task-modular-font-size;
        border-left: 3px solid @primary-color;
    }
    .textCenter{
        text-align: center;
    }
    .count{
        margin-top: -18rem;
        text-align: center;
        font-size: @modular-font-size;
    }

    .legendContainer{
        padding-top: 8rem;
        text-align: center;
        .subjectIcon{
            display: inline-block;
            width:1rem;
            height: 1rem;
            border-radius: @radius-base;
            margin-right: 1rem;
        }      
    }
}

.segment {
	margin: 2.4rem 6rem;

	:global {
		.am-segment {
			height   : 5rem;
			font-size: @nav-font-size;
		}

		.am-segment-item {
			font-size: @nav-font-size;
		}
	}
}

.KnowsOverView{
    padding:5rem 2rem;
    text-align: center;
    .sub_title{
        padding-top: 1rem;
        line-height: 2.6rem;
        font-size: @tab-font-size;
    }
}

.table_header{
    background-color: #ececec;
    height: @item-height;
    font-size: @title-descibe-font-size;
    border-top: @border-width-thin solid @border-color;
    border-bottom: @border-width-thin solid @border-color;
}
.table_row{
    background-color: @white-color;
    height: @item-height;
    font-size: @title-descibe-font-size;
    width:90%;
    border-bottom: 1px solid @border-color;

}
