.navbar {
    background-color: @primary-color;
    color           : @white-color;
    // padding      : 15px;
    vertical-align  : middle;
    text-align      : center;
    font-size       : @nav-big-font-size;
    height          : 88px;
    line-height     : 88px;
    // .title{
    //     padding-left:-30px;
    // }
}

.subject {
    :global {
        .am-segment {
            border-radius: 0px;
            height       : inherit;
        }

        .am-segment-item {
            background-color: @primary-color;
            color           : @white-color;
            border          : none;
            font-size       : @nav-font-size;
        }

        .am-segment-item-selected {
            background-color: @primary-color;
            color           : @subject-selected  !important;
            border-bottom   : 2px @subject-selected;
        }
    }

    font-size       :@nav-font-size;
    height          : 72px;
    border          : none;
    background-color: @primary-color;
    color           :@white-color;

    .selected {
        color      : #ffc937;
        font-weight: bold;
    }

}

.backimg {
    float  : left;
    height : @nav-big-font-size;
    padding-left:30px;

    img {
        height: 26px;
    }
}