.navbar{
    background-color: @primary-color;
    color: @white-color;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}

.subject{
    :global{
        .am-segment{
            border-radius:0px;
            height: inherit;
        }
        .am-segment-item{
            background-color: @primary-color;
            color:@white-color;
            border: none;
            font-size:@tab-font-size;
        }
        .am-segment-item-selected{
            background-color: @primary-color;
            color: @subject-selected !important;
            border-bottom: 2px @subject-selected;            
        }
    }
    font-size:@nav-font-size;
    height: 50px;
    border: none;
    background-color: @primary-color;
    color:@white-color;
    .selected{
        color:#ffc937;
        font-weight: bold;        
    }
    
}
.backimg{
    float:left;
    height: 20px;
    padding: 0px 12px;
    img{
        width:14px;
    }
}