.navbar{
    background-color: @primary-color;
    color: @white-color;
    padding: 15px;
    // height: @layou-header-height;
    // line-height: @layou-header-height;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    // background: url("../assets/back.png")
}

.subject{
    // height: @layou-header-height;
    font-size:20px;
    height: 50px;
    border: none;
    background-color: @primary-color;
    color:@white-color;
    .selected{
        color:#ffc937;
        font-weight: bold;        
    }
    
}