.KnowledgeContainer{
  .knowledge{
    display: flex;
    padding: 0 16px 8px;
    div{
      background-color: @label-bg;
      border-radius: 6px;
      color: @text-font-color-secondary;
      padding: 6px 10px;
      font-size: @title-descibe-font-size;
      margin: 0 12px 4px 0;
    }
  }
}