.errorBookContainer{
  .segment {
    margin: 24px 60px;

    :global {
        .am-segment {
            height   : 50px;
            font-size: 24px;
        }

        .am-segment-item {
            font-size: 24px;
        }
    }
  } 
  .topicNumber{
    margin: 10px 40px;
    font-size: 20px;
  }
  .topicCont{
    background-color: #fff;
    height: auto; 
  }
  .pagination{ 
    margin: 15px 40px;
    :global {
      .am-button-inline{
        padding:0 30px;
        background-color:@primary-color;
        color: @white-color;
      }
    }
  }
}