.card_container{
    background-color: @body-bg;
    margin:18px 0px;
    height:440px;
    overflow: hidden;
    :global{
        .am-card{
           
            .am-card-header{
                background-color: #f9f9f9;
                height:71px;
            }
            .am-card-body{
                // flex:none;
            }
        }       
    }
}
.btn_container {
    width        : 200px;
    margin:36px auto;

    .complete_btn {
        border       : none;
        font-size    : @content-big-font-size;
        height       : 60px;

        border-radius: 8px;
        width : 200px;
        background-color: @complete-btn;
        color           : @white-color;
    }
}