.card_container{
    background-color: @body-bg;
    margin:18px 0px;
    height:440px;
    overflow: hidden;
    :global{
        .am-card{
           
            .am-card-header{
                background-color: #f9f9f9;
                height:71px;
            }
            .am-card-body{
                // flex:none;
            }
        }       
    }
}