.stem{
  color: @text-font-color;
  padding: @padding-xs 0px;
  font-size: @content-font-size;
  line-height: @line-height-xss;
  img{
    vertical-align: middle;
    max-width: 100%;
  }
  p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
    margin-bottom: 0em;
  }
}