.container{
    padding:2rem;
    margin: @margin-md 0px;
    background-color: #f6faff;
    .title{
        font-size: @content-big-font-size;
        color:#333;
    }
    .attachmentItem{
        display: inline-block;
        padding:2.8rem 7.2rem 0rem 0rem;
        text-align: center;
        line-height: 4.8rem;
        img{
            width:8rem;
            height:8rem;
        }

    }
}