.answerPic{
  height: @answer-pic-height;
  width: @answer-pic-width;
  margin: @margin-xss;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img{
    max-width: @answer-pic-width;
    max-height: @answer-pic-height;
  }
}
.answerPics{
  overflow: hidden;
}
.answer{
  font-size: @content-font-size;
  background-color: @body-bg;
  padding: @padding-xs @padding-md;
  margin-top: @margin-xs;
  .title{
    color: @green-btn;
  }
}
.userAnswer{
  font-size: @content-font-size;
  .title{
    color: @score-color;
    margin-bottom: @margin-xs;
  }
}
.revisedAnswer{
  .title{
    color: @text-font-color;
    margin-bottom: @margin-xs;
  }
  font-size: @content-font-size;
}
.errorAnswer{
  .title{
    font-weight: bold;
    margin-bottom: @margin-xs;
  }
  margin-bottom: @margin-md;
}
.historyAnswer{
  margin-top: @margin-md;
  font-size: @content-font-size;
  .title{
    font-weight: bold;
    margin-bottom: @margin-md;
  }
  .historyTitle{
    display: flex;
    align-items: center;
    margin: @margin-xs 0;
    font-size: @title-descibe-font-size;
    .result{
      border-radius: 50%;
      padding: 2px;
      span{
        display: inline-block;
        border-radius: 50%;
        width: @history-answer-width;
        height: @history-answer-height;
        line-height: @history-answer-height;
        text-align: center;
      }
    }
    .right{
      border: 1px solid @right-color;
      color: @right-color;
      span{
        background-color: #e4f6ee;
      }
    }
    .wrong{
      border: 1px solid @score-color;
      color: @score-color;
      span{
        background-color: #fce3e7;
      }
    }
    .time{
      padding-left: @padding-sm;
    }
  }
  .answerDetail{
    display: flex;
    .line{
      width: 1px;
      background-color: #ccc;
      margin: 0 @margin-lg;
    }
    .noline{
      width: 1px;
      margin: 0 @margin-lg;
    }
  }
}