.questionContainer {
    width: inherit;
}

.describe {
    background-color: @task-describe;
    color           : @text-font-color;
    font-size       : @content-font-size;
    min-height      : 12rem;
    padding         : 3rem 2rem;
    line-height     : 2.5rem;
    vertical-align  : middle;
}

.ques_item {
    margin          : 1.5rem 0rem;
    border          : solid @border-width-thin @border-color;
    background-color: @white-color;
    padding         : 2rem;
}

.statistics {
    margin          : 1.5rem 0px;
    background-color: @white-color;

    // padding:0px 0px 20px 0px;
    .title {
        background-color: @vice-color;
        color           : @white-color;
        width           : 10.6rem;
        text-align      : center;
        height          : 4rem;
        line-height     : 4rem;
        vertical-align  : middle;
        font-size       : @content-big-font-size;
        margin-bottom   : 1.5rem;
    }

    .item_number {
        border        : @border-width-thin solid;
        border-radius : 50%;
        width         : 5rem;
        height        : 5rem;
        text-align    : center;
        vertical-align: middle;
        line-height   : 5rem;
        font-size     : @log-fFont-size;
        font-weight   : bold;
        display       : inline-block;
        margin        : 1.8rem 0rem 3.8rem 2.6rem;
    }

    .green {
        background-color: @green-btn;
        color           : @white-color;
    } 
    .red {
        background-color: @error-color;
        color           : @white-color;
    } 
}

.btnContainer {
    margin: 0 auto;
    width : 60rem;

    button {
        margin       : 3.6rem;
        width        : 20rem;
        height       : 6rem;
        border       : none;
        font-size    : @content-big-font-size;
        border-radius: @radius-base;
        cursor       : pointer;
    }

    .savebtn {
        background-color: @complete-btn;
        color           : @white-color;

    }

    .submitbtn {
        background-color: @vice-color;
        color           : @white-color;
    }
}

.ref_container {
    background-color: @white-color;
    padding         : 2rem;
    font-size       : @content-font-size;
    line-height     : 3rem;

    img {
        max-width: 100%;
    }
}

.ref_btn_container {
    width : 20rem;
    margin: 3.6rem auto;

    .complete_btn {
        border   : none;
        font-size: @content-big-font-size;
        height   : 6rem;

        border-radius   : @radius-base;
        width           : 20rem;
        background-color: @vice-color;
        color           : @white-color;
    }
}


.topicDetailli {
    background-color: @white-color;
    margin          : 2rem 0;
    border-top      : @border-width-thin @border-color solid;
    border-bottom   : @border-width-thin @border-color solid;
}

.readQuestions {
    background-color: @add-course-tip-bg;
    display         : flex;
    justify-content : space-between;
    padding         : 4rem 3rem;

    .info {
        display      : flex;
        font-size    : @tab-act-font-size;
        border-radius: @radius-base;
        align-items  : center;
    }

    .yes {
        padding      : 0.5rem 1.5rem;
        color        : @green-btn;
        border       : @border-width-thin @green-btn solid;
        display      : flex;
        font-size    : @tab-act-font-size;
        border-radius: @radius-base;
        align-items  : center;

        span {
            display     : inline-block;
            width       : 2.4rem;
            height      : 2.4rem;
            background  : url('../../assets/yes.png') center center;
            margin-right: 0.7rem;
        }
    }

    .yes1 {
        padding      : 0.5rem 1.5rem;
        color           : @white-color;
        background-color: @green-btn;
        border          : @border-width-thin @green-btn solid;
        display         : flex;
        font-size       : @tab-act-font-size;
        border-radius   : @radius-base;
        align-items     : center;

        span {
            display     : inline-block;
            width       : 2.4rem;
            height      : 2.4rem;
            background  : url('../../assets/yes1.png') center center;
            margin-right: 0.7rem;
        }
    }

    .no {
        padding      : 0.5rem 1.5rem;
        color        : @complete-btn;
        border       : @border-width-thin @complete-btn solid;
        display      : flex;
        font-size    : @tab-act-font-size;
        border-radius: @radius-base;
        align-items  : center;

        span {
            display     : inline-block;
            width       : 2.4rem;
            height      : 2.4rem;
            background  : url('../../assets/wrong.png') center center;
            margin-right: 0.7rem;
        }
    }

    .no1 {
        padding      : 0.5rem 1.5rem;
        color           : @white-color;
        background-color: @complete-btn;
        border          : @border-width-thin @complete-btn solid;
        display         : flex;
        font-size       : @tab-act-font-size;
        border-radius   : @radius-base;
        align-items     : center;

        span {
            display     : inline-block;
            width       : 2.4rem;
            height      : 2.4rem;
            background  : url('../../assets/wrong1.png') center center;
            margin-right: 0.7rem;
        }
    }

    .part {
        padding      : 0.5rem 1.5rem;
        color        : @primary-color;
        border       : @border-width-thin @primary-color solid;
        display      : flex;
        font-size    : @tab-act-font-size;
        border-radius: @radius-base;
        align-items  : center;

        span {
            display     : inline-block;
            width       : 2.4rem;
            height      : 2.4rem; 
            background  : url('../../assets/part.png') center center;
            margin-right: 0.7rem;
        }
    }

    .part1 {
        padding      : 0.5rem 1.5rem;
        color           : @white-color;
        border          : @border-width-thin @primary-color solid;
        background-color: @primary-color;
        display         : flex;
        font-size       : @tab-act-font-size;
        border-radius   : @radius-base;
        align-items     : center;

        span {
            display     : inline-block;
            width       : 2.4rem;
            height      : 2.4rem;
            background  : url('../../assets/part1.png') center center;
            margin-right: 0.7rem;
        }
    }
}